---
import Layout from '../../layouts/Layout.astro';
import MetaFrameworksNavigation from '../../components/MetaFrameworksNavigation.astro';
const title = "What is a JavaScript Meta-framework?"
let posts = await Astro.glob('../../markdown/metaframeworks/what-is-a-javascript-meta-framework.md');
let post = posts[0];

---

<Layout title={title}>
	<main class="max-w-4xl relative grow pt-20" slot="main">
        <post.Content />
	</main>
    <aside class="mt-24 grow" slot="aside">
        <MetaFrameworksNavigation/>
    </aside>
</Layout>
<style is:global>
    h2{
        color:rgb(248,113,113)
    }
    a{
        color:whitesmoke;
    }
    a:hover{
        color:rgb(202, 176, 176);
    }
    p{
		font-size: 1.2em;
        margin-top: 1em;
        margin-bottom: 1em;
	}
    .glitched{
      animation: glitch 4s linear infinite;
    }
    
    @keyframes glitch{
      2%,64%{
        transform: translate(2px,0) skew(0deg);
      }
      4%,60%{
        transform: translate(-2px,0) skew(0deg);
      }
      62%{
        transform: translate(0,0) skew(5deg); 
      }
    }
    
    .glitched:before,
    .glitched:after{
      content: attr(title);
      position: absolute;
      left: 0;
    }
    
    .glitched:before{
      animation: glitchTop 1s linear infinite;
      clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    }
    
    @keyframes glitchTop{
      2%,64%{
        transform: translate(2px,-2px);
      }
      4%,60%{
        transform: translate(-2px,2px);
      }
      62%{
        transform: translate(13px,-1px) skew(-13deg); 
      }
    }
    
    .glitched:after{
      animation: glitchBotom 1.5s linear infinite;
      clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
      -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    }
    
    @keyframes glitchBotom{
      2%,64%{
        transform: translate(-2px,0);
      }
      4%,60%{
        transform: translate(-2px,0);
      }
      62%{
        transform: translate(-22px,5px) skew(21deg); 
      }
    }
    
</style>
<script async >
    const h1 = document.querySelector('main h1')
    h1.classList.add('glitched')
    h1.setAttribute('title', h1.textContent)
    Array.from(document.querySelectorAll('main h2'))
    .forEach(h2 => {
        h2.classList.add('glitched')
        h2.setAttribute('title', h2.textContent)
    })
</script>
