---
// @ts-nocheck
import Layout from '../../layouts/Layout.astro';

import {MyPage} from '../../components/wc/lit/my-page';

export const prerender = true;
---

<Layout title="Composing templates">
    <main class="main" slot="main">
		<MyPage
            client:load 
            article={{
                title: 'Composing Templates',
                text: 'Some awesome text.'
            }}
        />
		
	</main>
	
</Layout>
