---
// @ts-nocheck
import Layout from '../../layouts/Layout.astro';
import {MyElement} from '../../components/wc/lit/my-element';
import {MyButton} from '../../components/wc/lit/my-button';
import LitNavigation from '../../components/LitNavigation.astro';
let posts = await Astro.glob('../../markdown/lit.md');
let post = posts[0];
let markdownUseless = await Astro.glob('../../markdown/useless-button.md');
let useless = markdownUseless[0]
---

<Layout title="Lit Elements">
    <main class="main" slot="main">
        <post.Content />
        <h2>Lit Basics:</h2>
		<p>
			a dummy element...
		</p>
       <MyElement />
       <hr/>
       <p>
        ...and a useless button
        </p>
        <MyButton text="some text" client:idle />
        <useless.Content/>
    </main>
    
    <aside class="aside" slot="aside">
        <LitNavigation/>
    </aside>
	
</Layout>

<style>
.card {
    margin: 1em;
}
aside {
    padding-top: 6em;
}
</style>

