---
// @ts-nocheck
import Layout from '../../layouts/Layout.astro';
import {MyElement} from '../../components/wc/lit/my-element';
import {MyButton} from '../../components/wc/lit/my-button';
let posts = await Astro.glob('../../markdown/lit.md');
let post = posts[0];
let markdownUseless = await Astro.glob('../../markdown/useless-button.md');
let useless = markdownUseless[0]
---

<Layout title="Lit Basic">
    <main class="main" slot="main">
        <post.Content />
        <h2>Lit Basics:</h2>
		<p>
			a dummy element...
		</p>
       <MyElement />
       <hr/>
       <p>
        ...and a useless button
        </p>
        <MyButton text="some text" />
        <useless.Content/>
      
    </main>
    
    <aside class="aside" slot="aside">
        <ul>
            <li>
                <a href="./lit/composing-templates">
                    lit : composing templates
                </a>
            </li>
            <li>
                <a href="./lit/lit-react">
                    lit : use lit in react
                </a>
            </li>
            <li>
                <a href="./lit/lit-vue">
                    lit : use lit in vue
                </a>
            </li>
        </ul>
    </aside>
	
</Layout>

<style>
.card {
    margin: 1em;
}
aside {
    padding-top: 6em;
}
</style>

