---

import Layout from '../../layouts/Layout.astro';
import App from '../../components/vue/CallApi/App.vue';


---

<Layout title="Lit vue">
	<main>
		<h1>Lit vue</h1>
        <App client:load />
	</main>
</Layout>
<script>

</script>

