---

import Layout from '../../layouts/Layout.astro';
import {App} from '../../components/react/callApi/App.jsx'
import LitNavigation from '../../components/LitNavigation.astro';
let posts = await Astro.glob('../../markdown/lit-react.md');
let post = posts[0];

---

<Layout title="Lit React">
	<main class="max-w-4xl relative grow pt-20" slot="main">
		<h1 class="glitched">Lit And React</h1>
		Example usage
		<post.Content/>
       
	</main>
	<aside class="mt-24 grow" slot="aside">
        <LitNavigation/>
		<App client:load />
    </aside>
</Layout>
<style>
	p{
		font-size: 1.2em;
	}
</style>

