---
/** @ts-ignore */
import Layout from '../layouts/Layout.astro';

         
---

<Layout title="Expanding List">
	<main>
		<h1>Expanding List example</h1>
		<p class="instructions">
			<expanding-list></expanding-list>
			<script type="module" src='./src/components/wc/expandingList.js'></script>
		</p>
		
	</main>
</Layout>

<script>
    import { ExpandingList } from "../components/wc/expandingList"

    const data = [
        {
            title: 'level 0 A',
            nodes: [
                {
                    title: 'level 1 A',
                    nodes: [
                        {
                            title: 'level 2 A'
                        },
                        {
                            title: 'level 2 A',
                            nodes:[
                                {
                                    title:'level 3 A'
                                }
                            ]
                        }
                    ]
                }
            ]
        }, 
        {
            title: 'level 0 B',
            nodes: [
                {
                    title: 'level 1 B',
                    nodes: [
                        {
                            title: 'level 2 B'
                        }
                    ]
                }
            ]   
        }
    ]
	const list = document.querySelector('expanding-list') as ExpandingList
    
    list.elements = data
</script>
