---
import HomeLayout from '../layouts/HomeLayout.astro';
import MetaFrameworks from '../components/MetaFrameworks.astro';
import TheAstroFramework from '../components/TheAstroFramework.astro';
import Intro from '../components/Intro.astro';


---

<HomeLayout title="Welcome to The playground">
	<main class="w-full relative grow pt-20" slot="main">
		<Intro/>
		<div id="cont" class="flex flex-col mt-20 mx-20 min-h-screen">
			<h1 class="self-start">Here youll' find a few goodies</h1>
			<h2>Made with different styles and techniques </h2>
			<p>As it's built with 
				<a href="https://astro.build/" target="_blank">Astro</a>
				and you can literally throw almost <em class="text-2xl"> Whatever</em> at it !
			</p>

			<MetaFrameworks/>
			<TheAstroFramework/>
			<h2 class="self-start text-3xl"> <a href="#">Animations</a></h2>
			<h2 class="self-start text-3xl"> <a href="/web-components">Web Components</a></h2>
			<h2 class="self-start text-3xl"> <a href="#">Testing!</a></h2>
			<h2 class="self-start text-3xl"> <a href="#">State Management</a></h2>
			
				
		</div>
	</main>
</HomeLayout>


