---

import Layout from "../layouts/Layout.astro";

export const prerender = true;


---

<Layout title="React Task List">
	<main class="max-w-4xl relative grow pt-20" slot="main">
		<h1 class="text-red-400 text-3xl mb-2">The page you have requested is protected</h1>
        <h2>please login to access content</h2>
	</main>
</Layout>


