---
import Navigation from '../components/Navigation.astro';
import Hamburger from '../components/Hamburger.astro';
---
<header class="header">
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>