---
import PixiStarWarp from "./react/pixi/PixiStarWarp";
---
<section class="flex my-20">
    <PixiStarWarp client:visible />
    <div class="flex flex-col">
        <h2 class="text-4xl text-red-400 mb-2 glitched" title="Meta Frameworks"><a href="#">Meta Frameworks</a></h2>
        <ul>
            <li class="my-1 flex flex-col">
                <h3 class="text-3xl">Concepts</h3>
                <ul class="pl-8">
                    <li>File based routing</li>
                    <li>Dynamic routes</li>
                    <li>API routes</li>
                    <li>Static site generation(SSG)</li>
                    <li>Single page applications (SPA)</li>
                    <li>Server rendered applications (SSR)</li>
                    <li>Hybryd rendering</li>
                </ul>
            </li>
            <li class="my-1 flex flex-col">
                <h3 class="text-3xl">The <em>family</em></h3>
                <ul class="pl-8">
                    <li>Svelte kit</li>
                    <li>Nextjs</li>
                    <li>Nuxt</li>
                    <li>Astro</li>
                    <li>Solid Start</li>
                    <li>Qwik</li>
                    <li>Enhance</li>
                </ul>
            </li>
            <li class="my-1 flex flex-col">
              <h3 class="text-3xl">Advantages</h3>
              <ul class="pl-8">
                <li>...performance is hard</li>
                <li>A lot comes out of the box</li>
                <li>Consolidated Dx</li>
                <li>Lots of research</li>
            </ul>
            </li>
            <li class="my-1 flex flex-col">
              <h3 class="text-3xl">Caveats</h3>
            </li>
        </ul>	
    </div>
    	
</section>
<style>
   

.glitched{
  animation: glitch 4s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.glitched:before,
.glitched:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitched:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.glitched:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}
</style>