---
const pages = [
    {
        link:'/',
        text:'Home'
    },
    {
        link:'/metaframeworks',
        text:'Metaframeworks'
    },
    {
        link:'/web-components',
        text:'Web components',
        /* children:[
            {
                link:'/lit',
                text:'LIT',
            },{
                link:'/lit/composing-templates',
                text:'Composing templates',
            },
            {
                link:'/lit/lit-react',
                text:'using lit and react',
            },
            {
                link:'/lit/lit-vue',
                text:'using lit and vue',
            }
        ] */
    },
    {
        link:'/planets',
        text:'Sw Planets'
    },
    {
        link:'/tasks',
        text:'Tasklist',
        children:[
            {
                link:'/tasks/redotasksreact',
                text:'Redo react',
            },
            {
                link:'/tasks/splitted-tasks-ssr-react',
                text:'Ssr react',
            }
        ]
    }
]
---
<style>
    .nav-links ul {
        list-style: none;
        display: flex;
    }
    .sublinks{
        display: none;
        background-color: black;
    }
    
    .nav-links ul li:hover .sublinks{
        display: block;
    }
    .sublinks ul{
        flex-direction: column;
        padding-left: .5em;
    }
    .sublinks small {
        padding: 0 2em;
    }
    .sublinks ul li a{
       width: 100%; 
    }
    .sublinks img{
        height: 1em;
        width: auto;
    }
    @media screen and (max-width: 1229px) {
      .nav-links ul {
        flex-direction: column;
        
      }
      .sublinks{
        display: block;
      }
    
    }
</style>
<div class="nav-links">
    <ul>
        {pages.map(page => ((
            <li>
                <a href={page.link}>
                    {page.text}
                </a>
                {page.children ? 
                        <div class="sublinks">
                            <ul>
                                {page.children.map(child => (<li>
                                    <a href={child.link}>{child.text}</a>
                                </li>))}
                                
                            </ul>
                        </div>
                    : null
                }
            </li>
        )))}
    </ul>
</div>
