<section class="flex my-20 items-start">
    <div class="flex flex-col">
        <h2 class="text-4xl text-red-400 mb-2 glitched" title="A Closer look to Astro"><a href="#">A Closer look to Astro</a></h2>
        <ul>
          <li class="my-1 flex flex-col">
            <h3 class="text-3xl">Concepts</h3>
            <ul class="pl-8">
                <li>Astro Components</li>
                <li>Add Scripts and styles</li>
                <li>Ui frameworks integration & Islands Architecture</li>
                <li>Tailwind integration</li>
                <li>Add Markdown Content</li>
                <li>Add Components in markrown</li>
                <li><a href="/planets" class="hover:text-emerald-500">Call external APIS</a></li>
                <li>Call JSON routes</li>
                <li>Call Server endpoints</li>
                <li>Adapters</li>
                <li>
                  <a href="/tasks" class="hover:text-emerald-500">
                    Server side vs Client side: a simple todo list
                  </a></li>
                <li>State Management and component Development</li>
                <li>Testing with playwright</li>
            </ul>
          </li>
        </ul>	
    </div>
    <div class="flex self-center items-center align-center grow">
      <a class="w-full" href="https://docs.astro.build/en/getting-started/" target="_blank">
        <img loading="lazy" height="320" width="320" class="h-80 relative mx-auto cursor-pointer" src="/favicon.svg" id="astro-logo" alt="astro logo">
      </a>
    </div>
    
</section>
<style>
#astro-logo{
  transition: all .3s ease;
}
#astro-logo:hover{
  transform: scale(1.5);
}

.glitched{
  animation: glitch 4s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.glitched:before,
.glitched:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitched:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.glitched:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}


</style>