<section class="flex my-20 items-start">
    <div class="flex flex-col">
        <h2 class="text-4xl text-red-400 mb-2 glitched" title="Web Components"><a href="/web-components">Web Components</a></h2>
        <ul>
          <li class="my-1 flex flex-col">
            <h3 class="text-3xl">Concepts</h3>
            <ul class="pl-8">
                <li>Custom elements</li>
                <li>Template elements</li>
                <li>Shadow dom</li>
               </ul>
          </li>
          <li class="my-1 flex flex-col">
            <h3 class="text-3xl">Writing web Components</h3>
            <ul class="pl-8">
                <li>Vanilla js</li>
                <li><a href="/lit">Lit</a></li>
            </ul>
          </li>
          <li class="my-1 flex flex-col">
            <h3 class="text-3xl">Use Cases</h3>
            <ul class="pl-8">
                <li>Micro frontends</li>
                <li>Large Design systems</li>
                <li>Frontend Migrations</li>
            </ul>
          </li>
        </ul>	
    </div>
    <div class="flex self-center items-center align-center grow">
      
    </div>
    
</section>
<style>
#astro-logo{
  transition: all .3s ease;
}
#astro-logo:hover{
  transform: scale(1.5);
}

.glitched{
  animation: glitch 4s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.glitched:before,
.glitched:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitched:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.glitched:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}


</style>