---

import Layout from '../../layouts/Layout.astro';
import ReactTasks from '../../components/react/tasks/Tasks'



let tasks =  []

try {
	const response = await fetch('http://localhost:3000/api/tasks/tasks.json')
	const data = await response.json()
	tasks = data.documents
} catch (error) {
	console.log(error)
}



---

<Layout title="React Task List">
	<main class="max-w-4xl relative grow pt-20" slot="main">
		<h1>React Task List</h1>
        <ReactTasks 
            client:load 
            tasks={tasks}
        />
	</main>
</Layout>
<style>
	p{
		font-size: 1.2em;
	}
</style>

