---
//
import Layout from '../../layouts/Layout.astro';
import TasksLayout from '../../layouts/TasksLayout.astro';
import Form from '../../components/svelte/tasks/Form.svelte';
// @ts-ignore
import Task from '../../components/vue/tasks/Task.vue';
import NoTasks from '../../components/NoTasks.astro';
let tasks = []

try {
	const response = await fetch('http://localhost:3000/api/tasks/tasks.json')
	tasks = await response.json()
} catch (error) {
	console.log(error)
}



---

<Layout title="Ssr Task List">
	<main class="max-w-4xl relative grow pt-20" slot="main">
		<h1>Ssr Task List</h1>
		<TasksLayout>
			<Form 
				tasks={tasks} 
				client:idle 
			/>
			{tasks.map(task => (
				<Task 
					task={task} 
					client:load 
				/>
			))}
			{tasks.length === 0 &&  
				<NoTasks />
			}
		</TasksLayout>
	</main>
</Layout>
<style>
	p{
		font-size: 1.2em;
	}
</style>

