---

import Layout from '../../layouts/Layout.astro';
import TasksLayout from '../../layouts/TasksLayout.astro';
import FormRedo from '../../components/react/tasks/FormRedo';
import TaskRedo from '../../components/react/tasks/TaskRedo';
import NoTasks from '../../components/NoTasks.astro';
let tasks = []

let url = location.protocol + '//' + location.hostname


if(import.meta.env.MODE === "development"){
	url+=':3000'
}
try {

	
	const response = await fetch(url+'/api/tasks/tasks.json')
	const data = await response.json()
	tasks = data.documents
} catch (error) {
	console.log(error)
}



---

<Layout title="Ssr Task List">
	<main class="max-w-4xl relative grow pt-20" slot="main">
		<h1>Ssr Task List</h1>
		<TasksLayout>
			<FormRedo 
				tasks={tasks} 
				client:idle 
			/>
			{tasks.map(task => (
				<TaskRedo 
					task={task} 
					client:load 
				/>
			))}
			{tasks.length === 0 &&  
				<NoTasks />
			}
		</TasksLayout>
	</main>
</Layout>
<style>
	p{
		font-size: 1.2em;
	}
</style>

