<div class={'flex flex-col w-full  justify-center bg-black  rounded-xl'}>
    <h1 class={'text-3xl text-slate-100 m-2'}>Yess, another TodoList :( </h1>
    <div class={'flex flex-col w-full items-center  p-2 rounded-xl box-border mb-5'}>
        <slot></slot>
    </div>
</div>