<div class={'flex flex-col w-full items-center justify-center bg-slate-700 rounded-xl'}>
    <h1 class={'text-3xl text-slate-100 m-2'}>Yess, another TodoList :( </h1>
    <div class={'flex flex-col w-full items-center md:max-w-xl p-2 rounded-xl bg-slate-400 box-border mb-5'}>
        <slot></slot>
    </div>
</div>