---
import { getSession } from 'auth-astro/server';
import Layout from '../../layouts/Layout.astro';
import ReactTasks from '../../components/react/tasks/Tasks'

const session = await getSession(Astro.request)

if (! session?.user) {
  return Astro.redirect('/please-login');
}

let tasks =  []

try {
	const base = import.meta.env.MODE === 'development' ? 'http://localhost:3000' : import.meta.env.SITE
	const response = await fetch(base + '/api/tasks/tasks.json')
	const data = await response.json()
	tasks = data.documents
} catch (error) {
	console.log(error)
}



---

<Layout title="React Task List">
	<main class="max-w-4xl relative grow pt-20" slot="main">
		<h1 class="text-red-400 text-3xl mb-2">React Task List</h1>
        <ReactTasks 
            client:load 
            tasks={tasks}
        />
	</main>
</Layout>


