---
import { getSession } from 'auth-astro/server';
import Layout from '../../layouts/Layout.astro';
import ReactTasksRedo from '../../components/react/tasks/TasksRedo'

const session = await getSession(Astro.request)

if (! session?.user) {
  return Astro.redirect('/please-login');
}

let tasks
try {
	const base = import.meta.env.MODE === 'development' ? 'http://localhost:3000' : import.meta.env.SITE
	const response = await fetch(base + '/api/tasks/tasks.json')
    const data = await response.json()
	tasks = data.documents
	
} catch (error) {
	console.log(error)
}
---

<Layout title="Redo React task list">
	<main class="max-w-4xl relative grow pt-20" slot="main">
		<h1>Redo Task List</h1>
        <ReactTasksRedo 
            client:load 
            tasks={tasks}
        />
	</main>
</Layout>
<style>
	p{
		font-size: 1.2em;
	}
</style>

